<div class="container-fluid" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <br>
                <strong class="badge badge-pill badge-secondary">
                    Shopping
                </strong><br>
                <p class="text-dark" style="font-size:15px;">
                <strong>
                <br>
                <a href="#" id="shoplink">Mens</a><br>
                <a href="#" id="shoplink">Womens</a><br>
                <a href="#" id="shoplink">Kids</a><br>
                <a href="#" id="shoplink">Home &amp; Living</a><br>
                <a href="#" id="shoplink">Kitchen</a><br>
                <a href="#" id="shoplink">Accessories</a><br>
                <a href="#" id="shoplink">Gift Card <span class="badge badge-pill badge-danger">new</span></a><br>
            </strong>
                </p>
            </div>
            <div class="col-md-2">
                <br>
                <strong class="badge badge-pill badge-secondary">
                    Useful Links
                </strong><br><br>
                <p class="text-dark" style="font-size:15px;">
                <strong>
                <a href="#" id="shoplink">Contact Us</a><br>
                <a href="#" id="shoplink">T&amp;C</a><br>
                <a href="#" id="shoplink">FAQ</a><br>
                <a href="#" id="shoplink">Shipping</a><br>
                <a href="#" id="shoplink">Cancellation</a><br>
                <a href="#" id="shoplink">Track Orders</a><br>
                <a href="#" id="shoplink">Return</a><br>
                <a href="#" id="shoplink">Blogs</a><br>
                </strong>
                </p>
            </div>
            <div class="col-md-4">
                <br>
                <strong class="badge badge-pill badge-secondary">
                    Expeience Shopping here on Mobile App
                </strong><br><br>
                <a href="#"><img src="images/playstore.png" class="img-rounded img-responsive" height="50px" width="120px"></a>
                <a href="#"><img src="images/appstore.png" class="img-rounded img-responsive" height="50px" width="120px"></a>
                <br><br>
                <strong class="badge badge-pill badge-secondary">Social Sites</strong><br><br>
                <a href="#"><img src="images/fb.jpg" class="img-thumbnail img-responsive" height="50px" width="50px"></a>
                <a href="#"><img src="images/insta.jpg" class="img-thumbnail img-responsive" height="50px" width="50px"></a>
                <a href="#"><img src="images/youtube.jpg" class="img-thumbnail img-responsive" height="50px" width="50px"></a>
                <a href="#"><img src="images/tweet.jpg" class="img-thumbnail img-responsive" height="50px" width="50px"></a>
            </div>
            <div class="col-md-3">
                <br>
                <strong class="badge badge-pill badge-success">100% ORIGINAL</strong><br>
                <p class="text-secondary ">guarantee for all products at Shopping Here.com</p>
                <strong class="badge badge-pill badge-danger">Return</strong><br>
                <p class="text-secondary">within 30days of placing your order</p>
                <strong class="badge badge-pill badge-info">Get free</strong><br>
                <p class="text-secondary">delivery for every order above Rs.49/-</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br>
<div class="container text-center" style="color:#898989;">&copy; 2018 www.ShoppingHere.com. All rights reserved.</div>
<br>