<div class="main-section  introduction-to-css">
    <h2>Introduction to CSS</h2>
    <p>CSS is Cascading Style Sheets. CSS is used inside HTML or SVG to style the content of your HTML page.</p>
    <p>
        CSS (Cascading Style Sheets) is employed to control the visual presentation of the HTML content. It allows developers to apply styles and design elements such as colors, fonts, margins, borders, and spacing. CSS provides the means to create aesthetically pleasing and user-friendly interfaces by defining how the HTML elements should be displayed on different devices and screen sizes. It separates content from design, enabling more flexibility and easier maintenance.
    </p>
    <div class="code">
        <app-convertcode [code]="code"></app-convertcode>
    </div>
</div>