<ul class="list-group">
    <li class="list-group-item active" aria-current="true">Introduction to CSS</li>
    <li class="list-group-item">History of CSS</li>
    <li class="list-group-item">Using CSS in HTML</li>
    <li class="list-group-item">CSS Selectors</li>
    <li class="list-group-item">CSS Combinators</li>
    <li class="list-group-item">CSS Psuedo Classes</li>     
    <li class="list-group-item">CSS Inheritance</li>
    <li class="list-group-item">CSS Precedence</li>
    <li class="list-group-item">CSS Box Model</li>
    <li class="list-group-item">CSS Margin</li>
    <li class="list-group-item">CSS Margin</li>
    <li class="list-group-item">CSS Padding</li>
    <li class="list-group-item">CSS Border</li>
    <li class="list-group-item">CSS Outline</li>
    <li class="list-group-item">CSS Units</li>
    <li class="list-group-item">CSS Colors</li>
    <li class="list-group-item">CSS Text Styling</li>
    <li class="list-group-item">CSS List Styling</li>
    <li class="list-group-item">CSS Table Styling</li>
    <li class="list-group-item">CSS Link Styling</li>
    <li class="list-group-item">CSS Form Styling</li>
    <li class="list-group-item">CSS Image Styling</li>
    <li class="list-group-item">CSS Background Images</li>
    <li class="list-group-item">CSS Gradiants</li>
    <li class="list-group-item">CSS Box Shadow</li>
    <li class="list-group-item">CSS Display</li>
    <li class="list-group-item">CSS Float</li>
    <li class="list-group-item">CSS Position</li>
    <li class="list-group-item">CSS Media Queries</li>
    <li class="list-group-item">CSS Grid</li>
    <li class="list-group-item">CSS Column Layout</li>
    <li class="list-group-item">CSS Opacity</li>
    <li class="list-group-item">CSS Transformation</li>
    <li class="list-group-item">CSS Animations</li>
    <li class="list-group-item">CSS Transition</li>
</ul>