/* You can add global styles to this file, and also import other style files */


.color-red {
    color : red;
}
.color-blue {
    color : blue;
}
.color-black {
    color: black;
}
.color-white {
    color: white;
}
.color-green {
    color: green;
}
.color-brown {
    color: brown;
}
.code {
    background-color: #d8d8d8;
    padding: 10px;
    box-shadow: 0px 0px 0.5px 0.2px black;
}
.main-section {
    margin-top: 10px;
}